@font-face {
  font-family: "Montserrat Alternates";
  src: url(/src/fonts/MontserratAlternates-Regular.otf);
}
@font-face {
  font-family: "Montserrat-A-Light";
  src: url(/src/fonts/MontserratAlternates-Light-Regular.otf);
}
@font-face {
  font-family: "Montserrat";
  src: url(/src/fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: "Montserrat-Light";
  src: url(/src/fonts/Montserrat-Light.otf);
}
.flex1 {
  display: flex;
}

img {
  width: 300px;
}

.button-d {
  background-color: #082f3d;
  color: #f0f0f0;
}

#main-cart {
  width: 100%;
  background-color: #f2f2f2;
  color: #082f3d;
  text-align: left;
}
#main-cart h2 {
  text-align: left;
  font-size: 20px;
  font-weight: bolder;
  margin: 3vw;
}
#main-cart .products-list {
  justify-content: space-evenly;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
#main-cart .products-list .products-link {
  margin-bottom: 20px;
  align-items: top;
}
#main-cart .products-list .products-link .product-img {
  width: 220px;
  padding: 10px;
}
#main-cart .button-d {
  text-align: left;
  padding: 10px;
  margin: 3vw;
  font-weight: bolder;
  background-color: #082f3d;
}

#individual {
  width: 42vw;
  display: flex;
  background-color: #fff;
  margin-top: 2vh;
  font-family: Montserrat Alternates;
}
#individual div {
  padding: 10px 5px;
  width: 100%;
}
#individual div .products-link .c-name {
  font-size: 18px;
}
#individual div .products-link .c-price {
  font-size: 12px;
}
#individual div .quantity {
  align-items: center;
  justify-content: flex-start;
  padding: 8px 8px 8px 0px;
}
#individual div .quantity .btns {
  display: flex;
  padding: 10px 10px 10px 0px;
}
#individual div .quantity .btns .btn {
  padding: 0px 10px;
  width: 30px;
  background: #80c0d3;
  font-weight: bold;
  cursor: pointer;
}
#individual div .quantity .btns .c-quantity {
  text-align: center;
  padding: 0px 10px;
}
#individual div .quantity span {
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}

@media screen and (max-width: 930px) {
  #main-cart h2, #main-cart .button-d {
    margin: 3vw 4vw;
  }
  .products-list {
    justify-content: space-evenly;
  }
  .products-list #individual {
    width: 80vw;
  }
}
@media screen and (max-width: 500px) {
  #main-cart h2, #main-cart .button-d {
    margin: 3vw 4vw;
  }
  #main-cart .products-list .products-link .product-img {
    width: 40vw;
    padding: 10px;
  }
  .products-list {
    justify-content: space-evenly;
  }
  .products-list #individual {
    width: 100%;
  }
  .products-list #individual .quantity {
    flex-wrap: wrap;
  }
}