@font-face {
  font-family: "Montserrat Alternates";
  src: url(/src/fonts/MontserratAlternates-Regular.otf);
}
@font-face {
  font-family: "Montserrat-A-Light";
  src: url(/src/fonts/MontserratAlternates-Light-Regular.otf);
}
@font-face {
  font-family: "Montserrat";
  src: url(/src/fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: "Montserrat-Light";
  src: url(/src/fonts/Montserrat-Light.otf);
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat Alternates";
}

body {
  background-color: #ffffff;
}

.container {
  text-align: center;
}
.container h1 {
  color: #082f3d;
  font-size: 2rem;
  font-weight: bolder;
  padding-top: 4rem;
  padding-bottom: 40px;
}
.container h2 {
  color: #646464;
  font-size: 18px;
  padding: 20px auto;
}
.container h2 span {
  color: #AA8800;
}
.container form input {
  margin: 9px 5px;
  padding: 8px 1rem;
  border: none;
  color: #082f3d;
  border: #082f3d 1px solid;
  font-size: 12px;
}
.container form input::-moz-placeholder {
  color: #082f3d;
  font-weight: lighter;
  font-size: 13px;
}
.container form input::placeholder {
  color: #082f3d;
  font-weight: lighter;
  font-size: 13px;
}
.container form input:focus {
  outline: none;
}
.container form .error {
  color: #ff6060;
  font-size: 12px;
}
.container form button {
  background-color: #AA8800;
  cursor: pointer;
  padding: 7px 16px;
  margin-top: 10px;
  color: #f0f0f0;
  border: none;
  font-style: bolder;
  font-size: 16px;
}
.container form h4 {
  color: #646464;
  font-weight: bold;
  font-size: 16px;
  margin: 10px;
}
.container form h4 span {
  color: #AA8800;
  cursor: pointer;
}
.container .newuser {
  color: #646464;
  font-weight: bold;
  font-size: 16px;
  font-family: "Montserrat";
  margin: 10px;
  text-align: center;
}
.container .newuser span {
  color: #AA8800;
  cursor: pointer;
}
.container .changemail, .container p {
  margin: 10px auto;
  font-size: 14px;
  color: #082f3d;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
.container .Link {
  text-decoration: none;
}